<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Start Application</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="navigationBar.css">
    <link rel="stylesheet" type="text/css" href="playerBlock.css">
</head>
<body>
<script src="angularModule.js"></script>
<div ng-app="mainModule" ng-controller="controllerBlock">
    <nav>
        <ul>
            <li><a id="playerElement" ng-click="showPlayerBlock()" href="#">Player</a>
                <ul>
                    <li class="getInfoButton"><a href="#">Select file</a></li>
                    <li><a href="#">Another option</a></li>
                </ul>
            </li>
            <li><a id="libraryElement" ng-click="showLibraryBlock()" href="#">Library</a></li>
        </ul>
    </nav>

    <div id="playerContent" ng-hide="hidePlayerBlock" ng-controller="appletController">
        <div id="songBlock">
            <div id="playerBlock">Player for song</div>
            <div id="songInfoBlock" ng-controller="testController">
                <div id="editFileCheckbox"><input type="checkbox" ng-model="canEditSong"/>Edit file</div>
                <div id="tableBlock">
                    <table id="tableElement">
                        <tr ng-repeat="element in tableElementsArray">
                            <td width="30%">{{element.columnName}}</td>
                            <td width="70%"><input type="text" ng-disabled="canEditSong" ng-model="element.columnValue">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="buttonSaveBlock">
                    <button id="saveButton" ng-click="saveSongInfomation()" ng-disabled="canEditSong">Save</button>
                </div>
            </div>
        </div>

            <div id="selectedFilesBlock" class="getInfoButton">
                <APPLET archive="MP3-0.0.1-SNAPSHOT-jar-with-dependencies.jar" CODE="read.StartApplet.class"
                        id="songInfoApplet" width="0" height="0">
                </APPLET>
                <div id="songsListBlock">
                    <table id="songsList">
                        <tr ng-click="callSongInfo(file.songPath)" ng-repeat="file in fileListArray">
                            <td>{{file.songName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    <div id="libraryContent" ng-hide="hideLibraryBlock"></div>
</div>
</body>
</html>